<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>NBU</title>
</head>

<body>

    <div class="ct-chart"><canvas id="chartPln"></canvas></div>
    <div class="ct-chart"><canvas id="chartUsd"></canvas></div>
    <div class="ct-chart"><canvas id="chartEur"></canvas></div>
    <div class="ct-chart"><canvas id="chartRub"></canvas></div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="js/nbu.js"></script>
</body>

</html>